POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=change_me

POSTGRES_PORT=change_me
API_PORT=change_me
FRONTEND_URL=http://localhost:8080

DATABASE_URL=postgresql://change_me:change_me@postgres:5432/change_me
DATABASE_URL_DOCKER=postgresql://change_me:change_me@postgres:5432/change_me
DATABASE_URL_TEST=postgresql://change_me:change_me@postgres:5432/{change_me}_test