# A bare domain gets an automatic HTTPS certificate; an http:// address serves plain HTTP.
{$WEB_ADDRESS} {
	reverse_proxy web:8080
}

{$WWW_ADDRESS} {
	redir {$WEB_URL}{uri} permanent
}

{$API_ADDRESS} {
	reverse_proxy api:3000
}
